@model Category

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Add a new Category </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Category</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">New Category</h4>
                    <p class="card-description">Add a new Category form</p>

                    <!--form start-->
                    <form class="forms-sample" asp-controller="Category" asp-action="SaveCategory" method="post" role="form">
                       
                        
                        <div class="form-group">
                            <label> Category Name</label>
                            <input type="text" class="form-control" asp-for="categoryName" placeholder="Category Name">
                            <span asp-validation-for="categoryName" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label> Image Name</label>
                            <input type="text" class="form-control" asp-for="imageName" placeholder="Image Name">
                            <span asp-validation-for="imageName" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label>Current State </label>
                            <input type="number" class="form-control" asp-for="currentState" placeholder="Current State">
                            <span asp-validation-for="currentState" class="text-danger"></span>
                        </div>
                      
                        <div class="form-check form-check-flat form-check-primary">

                            <label class="form-check-label">
                                <input type="checkbox" asp-for="showInHomePage" checked="@Model.showInHomePage"
                                       class="form-check-input">  show in Home Page?
                            </label>
                            <span asp-validation-for="showInHomePage" class="text-danger"></span>

                        </div>

                        <input type="hidden" asp-for="categoryId" />
                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                    </form>
           <!--form end-->

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <!-- Custom js for this page -->
    <script src="~/Admin/js/file-upload.js"></script>
    <script src="~/Admin/js/typeahead.js"></script>
    <script src="~/Admin/js/select2.js"></script>
    <!-- End custom js for this page -->
}
