@model Item

    <div>
        <ul class="list-group">
            <li class="list-group-item">@Model.itemId</li>
            <li class="list-group-item">@Model.itemName</li>
            <li class="list-group-item">@Model.itemType</li>
        </ul>
    </div>
